h2 {
    margin-bottom: 0;
    border: 1px solid #444;
    background: #434343;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem;
}

h3,
h4 {
    margin-top: 15px;
}

td>p {
    margin: 0;
}

.class-selector {
    text-align: center;
    position: fixed;
    top: 70px;
    width: 1110px;
    z-index: 9;
    background-color: #222;
}

.mobile-class-selector {
    display: none;
}

@media only screen and (max-width: 1199px) {
    .class-selector {
        display: none;
    }

    .mobile-class-selector {
        display: block;
        padding: 0;
        list-style: none;
    }
}

.collapse-control {
    cursor: pointer;
}

.collapse-indicator::after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.45em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.collapse-indicator.collapsed::after {
    top: 0.30em;
    transform: rotate(135deg);
}

.iframe-container {
    overflow: hidden;
    /*Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/* Overwrite Bootstrap */
.table th,
.table td {
    vertical-align: middle;
}

@media only screen and (min-width: 600px) {
    .nav-tabs .nav-item {
        width: calc(100% / 8);
    }
}

/* #region Class Colors*/
.druid {
    color: #ff7d0a !important;
}

.hunter {
    color: #abd473 !important;
}

.mage {
    color: #69ccf0 !important;
}

.paladin {
    color: #f58cba !important;
}

.priest {
    color: #ffffff !important;
}

.rogue {
    color: #fff569 !important;
}

.shaman {
    color: #0070de !important;
}

.warlock {
    color: #9482c9 !important;
}

.warrior {
    color: #c79c6e !important;
}

/* #endregion Class Colors*/

/* #region Class Icons */
.druid-icon {
    display: block;
    width: 56px;
    height: 56px;
    transform: scale(.5);
    background: url('../images/icons/classes/vanilla-classes.gif') 0 0;
}

.hunter-icon {
    display: block;
    width: 56px;
    height: 56px;
    transform: scale(.5);
    background: url('../images/icons/classes/vanilla-classes.gif') 0 -56px;
}

/* #endregion Class Icons */